@import "tailwindcss";
@plugin "daisyui";
@import "react-datepicker/dist/react-datepicker.css";

input, textarea, select, .outline-local{
    outline: none;
    border: none;
}

.custom-border{
    border: 1px solid #e2e8f0;
}

table, tr, td, th{
    border: 1px solid gray;
}

.scroll-container {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: auto; 
}

.custom-scrollbar {
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
  }



  .aws-btn {

    --button-default-height: 48px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: .185s;
    --button-primary-color: #475472;
    --button-primary-color-dark: #2a3143;
    --button-primary-color-light: #d4d9e4;
    --button-primary-color-hover: #424e6a;
    --button-primary-border: none;
    --button-secondary-color: #fffc6c;
    --button-secondary-color-dark: #b9b500;
    --button-secondary-color-light: #6c6a00;
    --button-secondary-color-hover: #fffb3e;
    --button-secondary-border: none;
    --button-anchor-color: #f3c8ad;
    --button-anchor-color-dark: #734922;
    --button-anchor-color-light: #4c3016;
    --button-anchor-color-hover: #f1bfa0;
    --button-anchor-border: 1px solid #8c633c;
    }
  

