@import "tailwindcss";
@plugin "daisyui";
@import "react-datepicker/dist/react-datepicker.css";

input{
    outline: none;
}
textarea{
    outline: none;
}
select{
    outline: none;
}
table, tr, td, th{
    border: 1px solid gray;
}